%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Продукция
  %li<>
    %h3
      Изменение расхода житкостей
.product.txt
  %img.productLogo{ "src" => "/images/vzlet/data/device.jpg", "width" => "297", "height" => "254", "alt" => "" }
  %h4.productName
    РАСХОДОМЕР-СЧЕТЧИК
    %br/
    ЭЛЕКТРОМАГНИТНЫЙ
    %br/
    ЗЛЕТ ЭР (ЭРСВ-4Х0Л)
  %p.productAbout
    Для решения задач абонентского учета в многотрубных системах.
    %br/
    Разработан при участии Предприятия "Энэргосбыт", ОАО "ТГК-1", ГУП "ТЭК СПб"
  %p
    Предназначен для измерения, индикации, регистрации параметров теплоносителя и тепловой энергии в теплосистемах различного типа, конфигурации и назначения, а также других вспомогательных параметров на узлах учета.
  .wrp
  %ul.siteMenu
    %li<>
      %span.li_c<>
        %a{ "href" => "#" }<>
          Функциональные особенности
    %li.active<>
      %span.li_c<>
        %strong
          Технические характеристики
    %li<>
      %span.li_c<>
        %a{ "href" => "#" }<>
          Документация и ПО
  .layout50.layout_l
    <strong>Количество каналов измерения:</strong>
    %ul.dotted
      %li
        %span.label расхода
        %span.value до 9
      %li
        %span.label температуры
        %span.value до 6
      %li
        %span.label давления
        %span.value до 6
      %li.br
        %br/
      %li
        %span.value до 3
        %span.label Количество кнотролируемых теплосистем
      %li
        %span.value 1
        %span.label Количество входов подключения сигнала направления потока(автореверса)
      %li
        %span.value от 10 до 5000
        %span.label Диаметр условного прохода трубопровода, Dy, мм
      %li
        %span.value от 0,01 до 1000000
        %span.label диапазон измерения среднего объемного расхода, м3/ч
      %li
        %span.value от минус 50 до 180
        %span.label Диапазон измерения температуры, 0C
      %li
        %span.value от 0 до 2,5
        %span.label Диапазон изменения давления, МПа
      %li
        %span.value не более +-5,0 (класс С по ГОСТ 51649)
        %span.label Относительня погрешность измерения количества тепла
      %li
        %span.value от 5 до 50
        %span.label Температура окружающей среды для тепловычислителя, 0C
      %li
        %span.value до 300
        %span.label Длина связи между тепловычислителем и первичными преобразователями, м
  .layout50.layout_r.txt
    <strong>Количество каналов измерения:</strong>
    %ul.dotted
      %li
        %span.label расхода
        %span.value до 9
      %li
        %span.label температуры
        %span.value до 6
      %li
        %span.label давления
        %span.value до 6
      %li
        %span.value до 3
        %span.label Количество кнотролируемых теплосистем
      %li.br
        %br/
      %li
        %span.value 1
        %span.label Количество входов подключения сигнала направления потока(автореверса)
      %li
        %span.value от 10 до 5000
        %span.label Диаметр условного прохода трубопровода, Dy, мм
      %li
        %span.value от 0,01 до 1000000
        %span.label диапазон измерения среднего объемного расхода, м3/ч
      %li
        %span.value от минус 50 до 180
        %span.label Диапазон измерения температуры, 0C
      %li
        %span.value от 0 до 2,5
        %span.label Диапазон изменения давления, МПа
      %li
        %span.value не более +-5,0 (класс С по ГОСТ 51649)
        %span.label Относительня погрешность измерения количества тепла
      %li
        %span.value от 5 до 50
        %span.label Температура окружающей среды для тепловычислителя, 0C
      %li
        %span.value до 300
        %span.label Длина связи между тепловычислителем и первичными преобразователями, м
  .wrp
  %p
    Оборудование, рекомендуемое к использованию в составе теплосчетчика ВЗЛЕТ ТСР-М исполнения ТСР-024:
  %ul.dash
    %li
      расходомеры электромагнитные ВЗЛЕТ ЭР;
    %li
      расходомеры ультразвуковые ВЗЛЕТ МР (УРСВ-5хх);
    %li
      термопреобразователи сспротивления ВЗЛЕТ ТПС;
    %li
      преобразователи давления СДВ производства ЗАО "НПК ВИП".

.pagerBox
  %ul.arrows
    %li.back
      %span<>
        ← ctrl
      %strong<>
        назад
    %li.next
      %a{ "title" => "Вперед", "href" => "#" }<>
        вперед
      %span<>
        ctrl →
  %ul.pages
    %li.active
      %strong<>
        1
    %li
      %a{ "href" => "#" }<> 2
    %li
      %a{ "href" => "#" }<> 3
    %li.hover
      %a{ "href" => "#" }<> 4
    %li
      %a{ "href" => "#" }<> 5
    %li
      %a{ "href" => "#" }<> 6
    %li.disable
      %span<>
        …
    %li
      %a{ "href" => "#" }<> 495
    %li
      %a{ "href" => "#" }<> 496
    %li.next
      %a{ "title" => "Следующая страница", "href" => "#" }<>
        Следующая
