.catalogue
  .dowloadLD.DocTypePdf
    %a.ico{ "href" => "#" } Скачать каталог продукции
    %a{ "href" => "#" } Скачать каталог продукции
    %span.info 1 Марта 2010, 428Кб
  %ul.breadcrumbs
    %li<>
      %h3 Каталог продукции
  .txt
    %h4
      %span.h4
        Популярное оборудовнаие:
    %ul.products
      %li
        %a{ "href" => "#" }
          %img{ "src" => "/images/vzlet/data/pr1.png" }/
        %span.about Расходомер-счетчик ульразвуковой портативный
        %a{ "href" => "#" } ВЗЛЕТ ПР
      %li
        %a{ "href" => "#" }
          %img{ "src" => "/images/vzlet/data/pr2.png" }/
        %span.about Расходомер-счетчик ульразвуковой портативный
        %a{ "href" => "#" } ВЗЛЕТ ПР
      %li
        %a{ "href" => "#" }
          %img{ "src" => "/images/vzlet/data/pr3.png" }/
        %span.about Расходомер-счетчик ульразвуковой портативный
        %a{ "href" => "#" } ВЗЛЕТ ПР
      %li
        %a{ "href" => "#" }
          %img{ "src" => "/images/vzlet/data/pr4.png" }/
        %span.about Расходомер-счетчик ульразвуковой портативный
        %a{ "href" => "#" } ВЗЛЕТ ПР
      %li
        %a{ "href" => "#" }
          %img{ "src" => "/images/vzlet/data/pr5.png" }/
        %span.about Расходомер-счетчик ульразвуковой портативный
        %a{ "href" => "#" } ВЗЛЕТ ПР
    .wrp
    %h4
      %span.h4
        Оборудование по категориям:
    %dl.fColumn
      %dt
        Учет тепловой энергии
      %dd
        %p
          Теплосчетчики-регистраторы ВЗЛЕТ ТСР-М исполнений:
        %a{ "href" => "#" } ТСР-024,-024М,
        %a{ "href" => "#" } ТСР-026,
        %a{ "href" => "#" } ТСР-027,
        %a{ "href" => "#" } ТСР-033,
        %a{ "href" => "#" } ТСР-034
      %dt
        Измерение и учет расхода жидкостей (электромагнитный метод)
      %dd
        %p
          Теплосчетчики-регистраторы ВЗЛЕТ ТСР-М исполнений:
        %a{ "href" => "#" } ТСР-024,-024М,
        %a{ "href" => "#" } ТСР-026,
        %a{ "href" => "#" } ТСР-027,
        %a{ "href" => "#" } ТСР-033,
        %a{ "href" => "#" } ТСР-034
        %p
          Теплосчетчики-регистраторы ВЗЛЕТ ТСР-М исполнений:
        %a{ "href" => "#" } ТСР-024,-024М,
        %a{ "href" => "#" } ТСР-026,
        %a{ "href" => "#" } ТСР-027,
        %a{ "href" => "#" } ТСР-033,
        %a{ "href" => "#" } ТСР-034
        %p
          Теплосчетчики-регистраторы ВЗЛЕТ ТСР-М исполнений:
        %a{ "href" => "#" } ТСР-024,-024М,
        %a{ "href" => "#" } ТСР-026,
        %a{ "href" => "#" } ТСР-027,
        %a{ "href" => "#" } ТСР-033,
        %a{ "href" => "#" } ТСР-034
    %dl.sColumn
      %dt
        Учет тепловой энергии
      %dd
        %p
          Теплосчетчики-регистраторы ВЗЛЕТ ТСР-М исполнений:
        %a{ "href" => "#" } ТСР-024,-024М,
        %a{ "href" => "#" } ТСР-026,
        %a{ "href" => "#" } ТСР-027,
        %a{ "href" => "#" } ТСР-033,
        %a{ "href" => "#" } ТСР-034
    %dl.tColumn
      %dt
        Учет тепловой энергии
      %dd
        %p
          Теплосчетчики-регистраторы ВЗЛЕТ ТСР-М исполнений:
        %a{ "href" => "#" } ТСР-024,-024М,
        %a{ "href" => "#" } ТСР-026,
        %a{ "href" => "#" } ТСР-027,
        %a{ "href" => "#" } ТСР-033,
        %a{ "href" => "#" } ТСР-034
    .wrp
