%ul.breadcrumbs
  %li<>
    %h3 Каталог продукции
.dowloadLD.DocTypePdf
  %a.ico{ "href" => "#" } Скачать каталог продукции
  %a{ "href" => "#" } Скачать каталог продукции
  %span.info 1 Марта 2010, 428Кб
