%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Контактная информация
  %li<>
    %h3
      %a{ "href" => "#" }<> Региональные представительства


.department
  .map
    %script{ "src" => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAAWosQF3nVDZboT4nrgBP-xhSaMJQalYKvKlm1cFW-EgFLmwNhXRQfJiKlSjWECusIh-GONZRkaAfSXA", "type" => "text/javascript" }
  .about.txt
    %h3 ТОО ПФ "Взлет-Казахстан"
    %p
      Адрес: 050008, Республика Казахстан,
      %br/
      г. Алматы, ул. Ауэзова, д. 62/184, кв. 31
      %br/
      E-mail: vzlot_al@vitelco.kz
      %br/
      %br/
      Телефон/факс: (727) 388-38-66, 388-38-77, 375-26-54
      %br/
      %br/

    %p
      ЗАО "ВЗЛЕТ" ведущее российское предприятие в
      области разработки происзводства и внедрения
      прибор учета расхода жидкостей, тепловой
      энергии и регулирования тепловодоресурсов.
    %p
      С 1990 года ЗАО "ВЗЛЕТ" работает на рынке
      приборостроения. Накомпленный опыт и высокий
      уровень профессиональной подготовки
      специалистов позволяет компаниии решать
      поставленные задачи комплексно - с момента
      возникновения проблемы до реализации проекта
      на практике.

    %h4
      Предоставляемые услуги:

    %ul.dash
      %li
        продвижение и продажа оборудования ЗАО "Взлет";
      %li
        гарантийное и сервисное обслуживание;
      %li
        обучение специалистов проведению монтажных и сервисных работ;
      %li
        ремонт оборудования;
      %li
        периодическая и внеочередная проверка.
  .wrp
