%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Продукция
  %li<>
    %h3
      Изменение расхода житкостей
.product.txt
  .productLogo

    %a{ "href" => "#" }
      %img.big{ "src" => "/images/vzlet/data/device.jpg", "width" => "300", "height" => "254", "alt" => "" }
    %a{ "href" => "#" }
      %img.small{ "src" => "/images/vzlet/data/news.jpg", "width" => "67", "height" => "50", "alt" => "" }
    %a{ "href" => "#" }
      %img.small{ "src" => "/images/vzlet/data/news.jpg", "width" => "67", "height" => "50", "alt" => "" }
    %a{ "href" => "#" }
      %img.small{ "src" => "/images/vzlet/data/news.jpg", "width" => "67", "height" => "50", "alt" => "" }
    %a{ "href" => "#" }
      %img.small{ "src" => "/images/vzlet/data/news.jpg", "width" => "67", "height" => "50", "alt" => "" }

  %h4.productName
    РАСХОДОМЕР-СЧЕТЧИК
    %br/
    ЭЛЕКТРОМАГНИТНЫЙ
    %br/
    ЗЛЕТ ЭР (ЭРСВ-4Х0Л)
  %p.productAbout
    Для решения задач абонентского учета в многотрубных системах.
    %br/
    Разработан при участии Предприятия "Энэргосбыт", ОАО "ТГК-1", ГУП "ТЭК СПб"
  %p
    Предназначен для измерения, индикации, регистрации параметров теплоносителя
    и тепловой энергии в теплосистемах различного типа, конфигурации и
    назначения, а также других вспомогательных параметров на узлах учета.
  .wrp
  %ul.siteMenu
    %li<>
      %span.li_c<>
        %a{ "href" => "#" }<>
          Функциональные особенности
    %li.active<>
      %span.li_c<>
        %strong
          Технические характеристики
    %li<>
      %span.li_c<>
        %a{ "href" => "#" }<>
          Документация и ПО
  .layout50.layout_l
    %strong Количество каналов измерения:
    %ul.dotted
      %li
        %span.label расхода
        %span.value до 9
      %li
        %span.label температуры
        %span.value до 6
      %li
        %span.label давления
        %span.value до 6
      %li.br
        %br/
      %li
        %span.value до 3
        %span.label Количество кнотролируемых теплосистем
      %li
        %span.value 1
        %span.label Количество входов подключения сигнала направления потока(автореверса)
      %li
        %span.value от 10 до 5000
        %span.label Диаметр условного прохода трубопровода, Dy, мм
      %li
        %span.value от 0,01 до 1000000
        %span.label диапазон измерения среднего объемного расхода, м3/ч
      %li
        %span.value от минус 50 до 180
        %span.label Диапазон измерения температуры, 0C
      %li
        %span.value от 0 до 2,5
        %span.label Диапазон изменения давления, МПа
      %li
        %span.value не более +-5,0 (класс С по ГОСТ 51649)
        %span.label Относительня погрешность измерения количества тепла
      %li
        %span.value от 5 до 50
        %span.label Температура окружающей среды для тепловычислителя, 0C
      %li
        %span.value до 300
        %span.label Длина связи между тепловычислителем и первичными преобразователями, м
  .layout50.layout_r.txt
    %strong Количество каналов измерения:
    %ul.dotted
      %li
        %span.label расхода
        %span.value до 9
      %li
        %span.label температуры
        %span.value до 6
      %li
        %span.label давления
        %span.value до 6
      %li
        %span.value до 3
        %span.label Количество кнотролируемых теплосистем
      %li.br
        %br/
      %li
        %span.value 1
        %span.label Количество входов подключения сигнала направления потока(автореверса)
      %li
        %span.value от 10 до 5000
        %span.label Диаметр условного прохода трубопровода, Dy, мм
      %li
        %span.value от 0,01 до 1000000
        %span.label диапазон измерения среднего объемного расхода, м3/ч
      %li
        %span.value от минус 50 до 180
        %span.label Диапазон измерения температуры, 0C
      %li
        %span.value от 0 до 2,5
        %span.label Диапазон изменения давления, МПа
      %li
        %span.value не более +-5,0 (класс С по ГОСТ 51649)
        %span.label Относительня погрешность измерения количества тепла
      %li
        %span.value от 5 до 50
        %span.label Температура окружающей среды для тепловычислителя, 0C
      %li
        %span.value до 300
        %span.label Длина связи между тепловычислителем и первичными преобразователями, м
  .wrp
  %table.pTable
    %thead
      %tr
        %th Название
        %th Цена
        %th Кол-во
    %tbody
      %tr
        %td вапикаилдьпа
        %td апппап
        %td 0
      %tr
        %td вааааааааааа
        %td ваааааааааа
        %td 1
      %tr
        %td ввааааааааааааааааа
        %td вааааааааааа
        %td 2
      %tr
        %td вааааааааааук
        %td апо785
        %td 3
      %tr
        %td пат875
        %td аоомп600
        %td 4
  %p
    Оборудование, рекомендуемое к использованию в составе теплосчетчика ВЗЛЕТ ТСР-М исполнения ТСР-024:
  %ul.dash
    %li расходомеры электромагнитные ВЗЛЕТ ЭР;
    %li расходомеры ультразвуковые ВЗЛЕТ МР (УРСВ-5хх);
    %li термопреобразователи сспротивления ВЗЛЕТ ТПС;
    %li преобразователи давления СДВ производства ЗАО "НПК ВИП".
