!!!
%html
  %head
    %title Взлет
    =stylesheet_link_tag "reset", "vz-style", "corner", "vz-txt"
    /[if lt IE 8]
      =stylesheet_link_tag "vz-ie6"
  %body
    #autoFooterC
      .header
        %h1.logo
          %a{ "href" => "#" }
            %img{ "src" => "/images/vzlet/logo.png", "width" => "301", "height" => "33", "alt" => "Взлет" }
        %form.search
          %label{ "for" => "search"} Поиск по сайту
          %input{ "type" => "text", "id" => "search" }
          %button{ "type" => "submit" }
            Найти
        .wrp
        .hMenu
          .m_links_c
            %ul
              %li
                %span.li_c
                  %a{ "href" => "#" }
                    Главная
              %li.active
                %span.li_c
                  %a{ "href" => "#" }
                    Продукция
              %li.hover
                %span.li_c
                  %a{ "href" => "#" }
                    Поддержка
              %li
                %span.li_c
                  %a{ "href" => "#" }
                    Компания
              %li.active
                %span.li_c
                  %strong
                    Контактная информация
      .content
        %ul.sMenu
          %li
            %a{ "href" => "#"}<>
              Головной офис
          %li.active
            %a{ "href" => "#"}<>
              Региональные представительства
        %ul.breadcrumbs
          %li<>
            %a{ "href" => "#" }<>
              Услуги
          %li<>
            %a{ "href" => "#" }<>
              Проверка и ремонт
        Hello world
        .pagerBox
          %ul.arrows
            %li.back
              %span<>
                ← ctrl
              %strong<>
                назад
            %li.next
              %a{ "title" => "Вперед", "href" => "#" }<>
                вперед
              %span<>
                ctrl →
          %ul.pages
            %li.active
              %strong<>
                1
            %li
              %a{ "href" => "#" }<> 2
            %li
              %a{ "href" => "#" }<> 3
            %li.hover
              %a{ "href" => "#" }<> 4
            %li
              %a{ "href" => "#" }<> 5
            %li
              %a{ "href" => "#" }<> 6
            %li.disable
              %span<>
                …
            %li
              %a{ "href" => "#" }<> 495
            %li
              %a{ "href" => "#" }<> 496
            %li.next
              %a{ "title" => "Следующая страница", "href" => "#" }<>
                Следующая

      #autoFooterMargin
    .footer#autoFooter
      .fColumn
        Телефон в СПБ: +7 812 363-21-60 (61)
        %br/
        Телефон в Мск: +7 495 721-88-57
      .sColumn
        Факс: +7 812 363-21-62
        %br/
        E-mail: info@inline-ltd.ru
      .tColumn
        Почтовый адрес: 196084, Санкт-Петербург,
        %br/
        ул. Малая Митрофаньевская, д.4, ООО «Инлайн»
      %span.copy
        &copy; 2004—2009 «Инлайн». Все права защищены.
