.txt
  %ul
    %li
      %a{ "href" => '/images/vzlet/design/device.png' } png
      %a{ "href" => '/vzlet/device' } device
    %li
      %a{ "href" => '/images/vzlet/design/news.png' } png
      %a{ "href" => '/vzlet/news' } news
    %li
      %a{ "href" => '/images/vzlet/design/support.png' } png
      %a{ "href" => '/vzlet/support' } support
    %li
      %a{ "href" => '/images/vzlet/design/text.png' } png
      %a{ "href" => '/vzlet/text' } text
    %li
      %a{ "href" => '/images/vzlet/design/department.png' } png
      %a{ "href" => '/vzlet/department' } department
