.txt
  %ul
    %li
      %a{ "href" => '/images/vzlet/design/catalogue.png' } png
      %a{ "href" => '/vzlet/catalogue' } Каталог продукции -
    %li
      %a{ "href" => '/images/vzlet/design/device.png' } png
      %a{ "href" => '/vzlet/device' } device
    %li
      %a{ "href" => '/images/vzlet/design/news.png' } png
      %a{ "href" => '/vzlet/news' } Новости
    %li
      %a{ "href" => '/images/vzlet/design/support.png' } png
      %a{ "href" => '/vzlet/support' } support
    %li
      %a{ "href" => '/images/vzlet/design/text.png' } png
      %a{ "href" => '/vzlet/text' } Текст
    %li
      %a{ "href" => '/images/vzlet/design/department.png' } png
      %a{ "href" => '/vzlet/department' } department -
    %li
      %a{ "href" => '/images/vzlet/design/department.png' } png
      %a{ "href" => '/vzlet/pub' } Публикции
    %li
      %a{ "href" => '/images/vzlet/design/map.png' } png
      %a{ "href" => '/vzlet/map' } map -
    %li
      %a{ "href" => '/images/vzlet/design/contacts.png' } png
      %a{ "href" => '/vzlet/contacts' } Контакты -
