.mainPage
  .waranty
    %img.wa{ "src" => "/images/vzlet/mainPageWaranty.jpg", "width" => "352", "height" => "188", "alt" => "4 года гарантии на производимое оборудование" }/
    %h2
      Ведущий российский производитель приборов учета тепла, расхода жидкостей и тепловой энэргии.
    %p
      С 1990 года ЗАО "Взлет" работает на рынке приборостроения...
    %a{ "href" => "#" }<
      Подробнее о компании
  %h2
    Лидеры продаж
  %ul.products
    %li
      %a.img{ "href" => "#" }
        %img{ "src" => "/images/vzlet/data/pr1.png" }/
      %span.about Расходомер-счетчик ульразвуковой портативный
      %a{ "href" => "#" } ВЗЛЕТ ПР
    %li
      %a.img{ "href" => "#" }
        %img{ "src" => "/images/vzlet/data/pr2.png" }/
      %span.about Расходомер-счетчик ульразвуковой портативный
      %a{ "href" => "#" } ВЗЛЕТ ПР
    %li
      %a.img{ "href" => "#" }
        %img{ "src" => "/images/vzlet/data/pr3.png" }/
      %span.about Расходомер-счетчик ульразвуковой портативный
      %a{ "href" => "#" } ВЗЛЕТ ПР
  .wrp
  .laRight
    %img{ "src" => "/images/vzlet/data/house.jpg", "width" => "210", "height" => "210", "alt" => "" }/
    %img{ "src" => "/images/vzlet/data/house.jpg", "width" => "210", "height" => "210", "alt" => "" }/
  .laLeft
    .mainPageNews
      %h2
        События
      %dl
        %dt 16 Марта
        %dd
          %h4
            %a{ "href" => "#"} Состоялся XII слет региональных представительств
          %p
            Абстрактное высказывание недоступно начинает
            %a{ "href" => "#" } литературный
            ямб, заметим, каждое стихотворение
            объединено вокруг основного философского
            стержня. Вопрос о популярности произведений.
        %dt 16 Марта
        %dd
          %h4
            %a{ "href" => "#"} Состоялся XII слет региональных представительств
          %p
            Абстрактное высказывание недоступно начинает
            %a{ "href" => "#" } литературный
            ямб, заметим, каждое стихотворение
            объединено вокруг основного философского
            стержня. Вопрос о популярности произведений.
        %dt 16 Марта
        %dd
          %h4
            %a{ "href" => "#"} Состоялся XII слет региональных представительств
          %p
            Абстрактное высказывание недоступно начинает
            %a{ "href" => "#" } литературный
            ямб, заметим, каждое стихотворение
            объединено вокруг основного философского
            стержня. Вопрос о популярности произведений.
    %h2
      Обновления документации
    .docList
      .dowloadLD.DocTypePdf
        %a.ico{ "href" => "#" } Руководство по эксплуатации
        %a.h{ "href" => "#" } Руководство по эксплуатации
        %span.info 1 Марта 2010, 428Кб
      .dowloadLD.DocTypePdf
        %a.ico{ "href" => "#" } Руководство по эксплуатации
        %a.h{ "href" => "#" } Руководство по эксплуатации
        %span.info 1 Марта 2010, 428Кб
      .dowloadLD.DocTypePdf
        %a.ico{ "href" => "#" } Руководство по эксплуатации
        %a.h{ "href" => "#" } Руководство по эксплуатации
        %span.info 1 Марта 2010, 428Кб
      .dowloadLD.DocTypePdf
        %a.ico{ "href" => "#" } Руководство по эксплуатации
        %a.h{ "href" => "#" } Руководство по эксплуатации
        %span.info 1 Марта 2010, 428Кб
      .dowloadLD.DocTypePdf
        %a.ico{ "href" => "#" } Руководство по эксплуатации
        %a.h{ "href" => "#" } Руководство по эксплуатации
        %span.info 1 Марта 2010, 428Кб
