%ul.sMenu
  %li.active
    %a{ "href" => "#"}<> Головной офис
  %li
    %a{ "href" => "#"}<> Региональные представительства
%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Контактная информация
  %li<>
    %h3 Региональные представительства
.map.txt
  .mapBlock
    %img{ "src" => "/images/vzlet/map.jpg", "width" => "353", "height" => "217", "alt" => "" }/
    %p.about
      По вопросам приобретения нашей продукции в регионах вы также можете связаться с нашим
      %a{ "href" => "#" }< региональными менеджерами.
  .firColumn
    %h4 Южный ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Алматы
      %li
        %a{ "href" => "#" }< Апатиты
      %li
        %a{ "href" => "#" }< Астрахань

    %h4 Приволжский ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Барнаул
      %li
        %a{ "href" => "#" }< Волгоград
      %li
        %a{ "href" => "#" }< Екатеринбург
      %li
        %a{ "href" => "#" }< Ижевск
      %li
        %a{ "href" => "#" }< Иркутск
      %li
        %a{ "href" => "#" }< Казань
      %li
        %a{ "href" => "#" }< Киев
      %li
        %a{ "href" => "#" }< Краснодар

    %h4 Сибирский ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Ставрополь
      %li
        %a{ "href" => "#" }< Сыктывкар
      %li
        %a{ "href" => "#" }< Тюмень
      %li
        %a{ "href" => "#" }< Уфа
    %h4 Страны СНГ
    %ul.ul
      %li
        %a{ "href" => "#" }< Украина
      %li
        %a{ "href" => "#" }< Казахстан

  .secColumn
    %h4 Северо-Западный ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Красноярск
      %li
        %a{ "href" => "#" }< Липецк
      %li
        %a{ "href" => "#" }< Магнитогорск
      %li
        %a{ "href" => "#" }< Минск
      %li
        %a{ "href" => "#" }< Москва

    %h4 Центральный ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Наберженые Челны
      %li
        %a{ "href" => "#" }< Нижний Новгород
      %li
        %a{ "href" => "#" }< Новокузнецк
      %li
        %a{ "href" => "#" }< Новосибирск
      %li
        %a{ "href" => "#" }< Омск
      %li
        %a{ "href" => "#" }< Оренбург

    %h4 Дальневосточный ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Пермь
      %li
        %a{ "href" => "#" }< Ростов-На-Дону

    %h4 Уральский ФО
    %ul.ul
      %li
        %a{ "href" => "#" }< Челябинск
      %li
        %a{ "href" => "#" }< Череповец
      %li
        %a{ "href" => "#" }< Ярославль
  .wrp
