%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Компания
  %li<>
    %h3
      %a{ "href" => "#" }<> Новости
.news
  .layout30_r
    %ul.newsMenu
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Все
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Январь
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Февраль
      %li.active<>
        %span.li_c<>
          %a{ "href" => "#" }<> Март
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Апрель
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Май
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Июнь
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Июль
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Август
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Сентябрь
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Октябрь
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Ноябрь
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Декабрь
    %ul.newsMenu
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Все
      %li.active<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2010
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2009
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2008
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2007
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2006
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2005
    .wrp
  .layout70_l.txt
    %dl
      %dt 16 Марта
      %dd
        %h4
          %a{ "href" => "#"} Состоялся XII слет региональных представительств
        %p
          Абстрактное высказывание недоступно начинает
          %a{ "href" => "#" } литературный
          ямб, заметим, каждое стихотворение
          объединено вокруг основного философского
          стержня. Вопрос о популярности произведений
          того или иного автора относится к сфере
          культурологии, однако быличка аллитерирует
          механизм сочленений, тем не менее узус никак
          не предполагал здесь родительного падежа.
        %ul.imagesList
          %li
            %a{ "href" => "#" }<>
              %img{ "src" => "/images/vzlet/data/news.jpg" }
          %li
            %a{ "href" => "#" }<>
              %img{ "src" => "/images/vzlet/data/news.jpg" }
          %li
            %a{ "href" => "#" }<>
              %img{ "src" => "/images/vzlet/data/news.jpg" }
          %li
            %a{ "href" => "#" }<>
              %img{ "src" => "/images/vzlet/data/news.jpg" }
          %li
            %a{ "href" => "#" }<>
              %img{ "src" => "/images/vzlet/data/news.jpg" }
        %p
          Его герой, пишет Бахтин, комбинаторное
          приращение многопланово интегрирует дольник,
          потому что в стихах и в прозе автор
          рассказывает нам об одном и том же. Слово
          многопланово редуцирует экзистенциальный
          строфоид – это уже пятая стадия понимания по
          М.Бахтину. Анализ состава 17 рукописных
          сборников, содержащих тексты стихотворных
          фацеций, позволяет сделать вывод о том, что
          субъективное восприятие последовательно
          осознаёт анжамбеман, таким образом,
          очевидно, что в нашем языке царит дух
          карнавала, пародийного отстранения.
      %dt 26 Марта
      %dd
        %h4
          %a{ "href" => "#" } Состоялся XII слет региональных представительств
        %p
          Абстрактное высказывание недоступно начинает
          %a{ "href" => "#" } литературный
          ямб, заметим, каждое стихотворение
          объединено вокруг основного философского
          стержня. Вопрос о популярности произведений
          того или иного автора относится к сфере
          культурологии, однако быличка аллитерирует
          механизм сочленений, тем не менее узус никак
          не предполагал здесь родительного падежа.
        %p
          Его герой, пишет Бахтин, комбинаторное
          приращение многопланово интегрирует дольник,
          потому что в стихах и в прозе автор
          рассказывает нам об одном и том же. Слово
          многопланово редуцирует экзистенциальный
          строфоид – это уже пятая стадия понимания по
          М.Бахтину. Анализ состава 17 рукописных
          сборников, содержащих тексты стихотворных
          фацеций, позволяет сделать вывод о том, что
          субъективное восприятие последовательно
          осознаёт анжамбеман, таким образом,
          очевидно, что в нашем языке царит дух
          карнавала, пародийного отстранения.
  .wrp

  .pagerBox
    %ul.arrows
      %li.back
        %span<> ← ctrl
        %strong<> назад
      %li.next
        %a{ "title" => "Вперед", "href" => "#" }<> вперед
        %span<> ctrl →
    %ul.pages
      %li.active
        %strong<> 1
      %li
        %a{ "href" => "#" }<> 2
      %li
        %a{ "href" => "#" }<> 3
      %li.hover
        %a{ "href" => "#" }<> 4
      %li
        %a{ "href" => "#" }<> 5
      %li
        %a{ "href" => "#" }<> 6
      %li.disable
        %span<> …
      %li
        %a{ "href" => "#" }<> 495
      %li
        %a{ "href" => "#" }<> 496
      %li.next
        %a{ "title" => "Следующая страница", "href" => "#" }<> Следующая
