%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Компания
  %li<>
    %h3 Публикации

.publications
  .layout30_r
    %ul.newsMenu
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> Все
      %li.active<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2010
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2009
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2008
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2007
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2006
      %li<>
        %span.li_c<>
          %a{ "href" => "#" }<> 2005
    .wrp
  .layout70_l.txt
    .dowloadLD.DocTypePdf
      %a.ico{ "href" => "#" } Руководство по эксплуатации
      %a{ "href" => "#" } Руководство по эксплуатации
      %span.info 1 Марта 2010, 428Кб
      %p.about
        Абстрактное высказывание недоступно начинает
        %a{ "href" => "#" } литературный
        ямб, заметим, каждое стихотворение
        объединено вокруг основного философского
        стержня. Вопрос о популярности произведений
        того или иного автора относится к сфере
        культурологии, однако быличка аллитерирует
        механизм сочленений, тем не менее узус никак
        не предполагал здесь родительного падежа.
    .dowloadLD.DocTypePdf
      %a.ico{ "href" => "#" } Руководство по эксплуатации
      %a{ "href" => "#" } Руководство по эксплуатации
      %span.info 1 Марта 2010, 428Кб
      %p.about
        Абстрактное высказывание недоступно начинает
        %a{ "href" => "#" } литературный
        ямб, заметим, каждое стихотворение
        объединено вокруг основного философского
        стержня. Вопрос о популярности произведений
        того или иного автора относится к сфере
        культурологии, однако быличка аллитерирует
        механизм сочленений, тем не менее узус никак
        не предполагал здесь родительного падежа.
  .wrp
