%ul.sMenu
  %li.active
    %a{ "href" => "#"}<> Документация и ПО
  %li
    %a{ "href" => "#"}<> Проверка и ремонт
  %li
    %a{ "href" => "#"}<> Монтажные организации
  %li
    %a{ "href" => "#"}<> Обучение
%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Поддержка
  %li<>
    %a{ "href" => "#" }<> Документация и ПО
  %li<>
    %h3
      Взлет ЭР (ЭРСВ-4х0Л)
.doc.txt
  .layout50.layout_l
    %h4 Документация
  .layout50.layout_r
    %h4 Программное обеспечение
    %h4 Карта заказа
    %h4 Сертификаты
