%ul.sMenu
  %li.active
    %a{ "href" => "#"}<> Документация и ПО
  %li
    %a{ "href" => "#"}<> Проверка и ремонт
  %li
    %a{ "href" => "#"}<> Монтажные организации
  %li
    %a{ "href" => "#"}<> Обучение
%ul.breadcrumbs
  %li<>
    %a{ "href" => "#" }<> Поддержка
  %li<>
    %h3 Документация и ПО
.sB.txt
  %form
    %p.about
      В этом разделе вы сможете загрузить программное обеспечение, техническую документацию и сертификаты на выпускаемую продукцию.
    .searchB
      %label{ "for" => "search" }> Поиск по сайту
      %input{ "type" => "text", "id" => "search" }/
      %button{ "type" =>"submit" }< Найти
    .wrp
    %p
      \... или выберите категорию и прибор ниже:
    %select.sl
      %option< Пункт 1
      %option< Пункт 2


  %h4 Выпускаемое оборудование:
  %ol.num
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
  %h4 Оборудование снятое с производства:
  %ol.num
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический
    %li
      %a{ "href" => "#" }< ВЗЛЕТ ЭР
      \&mdash; Расходомер электрический

