!!!
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "ru", "lang" =>"ru" }
  %head
    %title Взлет
    %meta{ "http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8" }/
    =stylesheet_link_tag "reset", "vz-style", "corner", "vz-txt"
    /[if lt IE 8]
      =stylesheet_link_tag "vz-ie6"
  %body
    #autoFooterC
      .header
        %h1.logo
          %a{ "href" => "#" }
            %img{ "src" => "/images/vzlet/logo.png", "width" => "301", "height" => "33", "alt" => "Взлет" }
        %form.search
          %label{ "for" => "search"} Поиск по сайту
          %input{ "type" => "text", "id" => "search" }
          %button{ "type" => "submit" }
            Найти
        .wrp
        .hMenu
          .m_links_c
            %ul
              %li
                %span.li_c<>
                  %a{ "href" => "#" }<>
                    Главная
              %li.active
                %span.li_c<>
                  %a{ "href" => "#" }<>
                    Продукция
              %li.hover
                %span.li_c<>
                  %a{ "href" => "#" }<>
                    Поддержка
              %li
                %span.li_c<>
                  %a{ "href" => "#" }<>
                    Компания
              %li.active
                %span.li_c<>
                  %strong<>
                    Контактная информация
      .content
        =yield
      #autoFooterMargin
    .footer#autoFooter
      .fColumn
        Телефон в СПБ: +7 812 363-21-60 (61)
        %br/
        Телефон в Мск: +7 495 721-88-57
      .sColumn
        Факс: +7 812 363-21-62
        %br/
        E-mail: info@inline-ltd.ru
      .tColumn
        Почтовый адрес: 196084, Санкт-Петербург,
        %br/
        ул. Малая Митрофаньевская, д.4, ООО «Инлайн»
      %span.copy
        &copy; 2004—2009 «Инлайн». Все права защищены.
