!!!
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "ru", "lang" =>"ru" }
  %head
    %title Взлет
    %meta{ "http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8" }/
    =stylesheet_link_tag "reset", "vz-style", "corner", "vz-txt"
    =javascript_include_tag "jquery-1.4.2.min"
    =javascript_include_tag "script.js"
    /[if lt IE 8]
      =stylesheet_link_tag "vz-ie6"
  %body
    #autoFooterC
      .header
        %h1.logo
          %a{ "href" => "/vzlet" }
            %img{ "src" => "/images/vzlet/logo.png", "width" => "301", "height" => "33", "alt" => "Взлет" }
        %form.search
          %label{ "for" => "search"} Поиск по сайту
          %input{ "type" => "text", "id" => "search" }
          %button{ "type" => "submit" } Найти
        .wrp
        .hMenu
          .m_links_c
            %ul
              %li.right
                %span.li_c<>
                  %a{ "href" => "#" }<>
                    %span.icon<>
                    %span.txt
                    Вход для партнеров
              %li
                %span.li_c<>
                  %a{ "href" => "#" }<> Главная
              %li.active
                %span.li_c<>
                  %a{ "href" => "#" }<> Продукция
              %li
                %span.li_c<>
                  %a{ "href" => "#" }<> Поддержка
              %li
                %span.li_c<>
                  %a{ "href" => "#" }<> Компания
              %li
                %span.li_c<>
                  %a{ "href" => "#" }<> Контактная информация
      .content
        =yield
      #autoFooterMargin
    .footer#autoFooter
      .fColumn
        %img.footerLogo{ "src" => "/images/vzlet/footerLogo.gif", "width" => "43", "height" => "34", "alt" => "0" }/
        .footerLogoText
          &copy; 2004—2009 «Инлайн».
          %br/
          Все права защищены.
      .sColumn
        Факс: +7 812 363-21-62
        %br/
        E-mail: info@inline-ltd.ru
      .tColumn
        Почтовый адрес: 196084, Санкт-Петербург,
        %br/
        ул. Малая Митрофаньевская, д.4, ООО «Инлайн»
