.txt {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px;
  line-height: 18px; }
  .txt h3, .txt h4, .txt h5, .txt h6 {
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-weight: bold; }
  .txt h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    margin-top: 36px; }
  .txt h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0 9px 0;
    font-weight: normal; }
  .txt p {
    margin: 9px 0 18px 0; }
  .txt .dash {
    list-style-image: none !important;
    margin: 18px 0 23px 55px; }
    .txt .dash li {
      margin: 6px 0; }
    .txt .dash m {
      margin-left: -1.5em;
      position: absolute;
      font-size: 16px; }
    .txt .dash ul {
      list-style-image: none;
      margin: 11px 0 23px 25px; }
      .txt .dash ul li {
        margin: 0; }
  .txt .dash > li:before {
    margin-left: -1.5em;
    position: absolute;
    content: "— ";
    font-size: 16px; }
  .txt .dot {
    list-style-type: disc;
    margin: 24px 0 23px 56px;
    line-height: 20px; }
    .txt .dot m {
      display: none; }
    .txt .dot li {
      margin: 7px 0; }
  .txt .dotted {
    position: relative;
    margin-bottom: 36px; }
    .txt .dotted li {
      zoom: 1;
      position: relative;
      border-bottom: .1em dotted #000;
      padding-right: 10em;
      padding-bottom: 0;
      margin: 3px 0; }
      .txt .dotted li.br {
        border: none; }
      .txt .dotted li .value {
        position: absolute;
        right: 0;
        bottom: -.3em;
        background: #fff;
        padding-left: .5em; }
      .txt .dotted li .label {
        padding-right: .5em;
        position: relative;
        bottom: -.3em;
        left: 0;
        background: #fff; }
  .txt sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 65%; }
    .txt sup a {
      text-decoration: none; }
