html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

#autoFooterC {
  position: relative;
  min-height: 100%;
  min-width: 960px;
  -height: 100%; }

#autoFooterMargin {
  height: 97px;
  width: 1px;
  clear: both; }

#autoFooter {
  position: relative;
  height: 77px;
  margin-top: -97px; }

#autoFooterC, #autoFooter {
  width: 930px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

a {
  color: #3287cc;
  text-decoration: underline; }

.wrp {
  clear: both; }

h1.logo {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  color: #267bc7;
  line-height: 33px;
  font-size: 33px;
  font-style: italic;
  padding: 18px 0 24px 14px;
  float: left; }
  h1.logo img {
    width: 301px;
    height: 33px;
    display: block; }

.hMenu, .m_links_c, .hMenu ul, .hMenu ul li, .hMenu .li_c, .hMenu .li_c strong, .hMenu .li_c a {
  background-image: url(../images/vzlet/headerMenu.png);
  background-repeat: no-repeat; }

.hMenu {
  background-repeat: repeat-x; }
  .hMenu .m_links_c {
    background-position: left -40px; }

.hMenu {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  background-color: #f5f5f5; }
  .hMenu ul {
    background-position: right -80px;
    height: 30px;
    padding: 5px 13px; }
    .hMenu ul li {
      float: left;
      background-repeat: repeat-x;
      background-position: 0 -120px; }
      .hMenu ul li .li_c {
        background-position: left -148px;
        float: left; }
      .hMenu ul li a, .hMenu ul li strong {
        padding: 0 15px;
        background-position: right -176px;
        height: 28px;
        line-height: 28px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        float: left; }
      .hMenu ul li a {
        cursor: pointer; }
      .hMenu ul li.hover {
        background-color: #fcfcfc;
        background-position: 0 -204px; }
        .hMenu ul li.hover .li_c {
          background-position: left -232px; }
        .hMenu ul li.hover a, .hMenu ul li.hover strong {
          background-position: right -260px; }
      .hMenu ul li.active {
        background-color: #2d83ca;
        background-position: 0 -288px; }
        .hMenu ul li.active .li_c {
          background-position: left -316px; }
        .hMenu ul li.active a, .hMenu ul li.active strong {
          background-position: right -344px;
          color: #fff;
          cursor: default; }

.search {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  position: relative;
  float: right;
  margin: 27px 13px 0 0; }
  .search label {
    cursor: text;
    color: #b7b6b6;
    position: absolute;
    left: 0;
    line-height: 24px;
    padding: 0 8px; }
  .search input {
    background: transparent url(../images/vzlet/headerSearch.png) no-repeat 0 0;
    border: none;
    float: left;
    height: 14px;
    line-height: 16px;
    width: 141px;
    padding: 5px 8px; }
  .search button {
    background: transparent url(../images/vzlet/headerSearch.png) no-repeat -157px 0;
    border: none;
    width: 24px;
    height: 24px;
    padding: 24px 0 0 0;
    overflow: hidden; }

.sMenu {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  margin: 36px 0 36px -40px; }
  .sMenu li {
    margin-left: 40px;
    display: inline; }
  .sMenu a {
    cursor: pointer; }
  .sMenu .active a, .sMenu .active strong {
    color: #000;
    font-weight: bold;
    text-decoration: none; }
  .sMenu .active strong {
    cursor: default; }

.breadcrumbs {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 19px;
  margin: 30px 0; }
  .breadcrumbs h3 {
    display: inline;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 19px;
    font-weight: normal; }
  .breadcrumbs li {
    display: inline; }

.breadcrumbs li:first-child:before {
  content: ""; }

.breadcrumbs li:before {
  color: #9e9e9e;
  font-family: "Times New Roman", sans-serif;
  content: "\a0\2192\20"; }

.pagerBox {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 14px;
  padding: 10px 0;
  cursor: default; }
  .pagerBox a {
    cursor: pointer; }
  .pagerBox .arrows {
    overflow: hidden;
    zoom: 1;
    padding: 0 0 10px; }
    .pagerBox .arrows li {
      float: left;
      margin: 0;
      padding: 0 30px 0 0; }
      .pagerBox .arrows li span {
        color: #929292;
        font-size: 11px; }
      .pagerBox .arrows li a, .pagerBox .arrows li strong {
        padding: 0 5px; }
      .pagerBox .arrows li strong {
        color: #929292;
        font-weight: normal;
        text-decoration: underline;
        font-size: 14px; }
  .pagerBox .pages {
    overflow: hidden; }
    .pagerBox .pages li, .pagerBox .pages li a, .pagerBox .pages li strong {
      background: transparent url(../images/vzlet/pager.png) no-repeat 0 0; }
    .pagerBox .pages li {
      float: left;
      margin: 0 2px 0 0;
      padding: 0; }
      .pagerBox .pages li a, .pagerBox .pages li strong, .pagerBox .pages li span {
        color: #000;
        float: left;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        text-decoration: none; }
      .pagerBox .pages li.hover {
        background-position: right -104px; }
        .pagerBox .pages li.hover a, .pagerBox .pages li.hover strong {
          background-position: left -130px; }
      .pagerBox .pages li.active {
        background-color: #3e94d1;
        background-position: right -52px; }
        .pagerBox .pages li.active a, .pagerBox .pages li.active strong {
          color: #fff;
          font-weight: normal;
          background-position: left -78px; }
      .pagerBox .pages li.disable {
        background-position: right 0; }
        .pagerBox .pages li.disable a, .pagerBox .pages li.disable strong {
          background-position: left -26px; }

.content {
  padding: 0 28px 50px 28px; }
  .content .layout50 {
    width: 410px;
    float: left; }
  .content .layout_l {
    padding-right: 30px; }
  .content .layout_r {
    padding-left: 30px; }
  .content .layout70_l {
    margin-right: 220px; }
  .content .layout30_r {
    float: right;
    width: 200px; }
  .content .layout70_ll {
    margin-right: 220px; }
  .content .layout30_rr {
    float: right;
    width: 200px; }

.siteMenu, .rightMenu {
  margin-left: -16px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px; }
  .siteMenu li, .rightMenu li {
    margin: 0 16px; }
    .siteMenu li .li_c, .rightMenu li .li_c {
      line-height: 28px; }
      .siteMenu li .li_c, .siteMenu li .li_c a, .siteMenu li .li_c strong, .rightMenu li .li_c, .rightMenu li .li_c a, .rightMenu li .li_c strong {
        display: inline-block;
        height: 28px;
        font-weight: normal; }
  .siteMenu .active, .rightMenu .active {
    margin: 0; }
    .siteMenu .active .li_c, .siteMenu .active .li_c a, .siteMenu .active .li_c strong, .rightMenu .active .li_c, .rightMenu .active .li_c a, .rightMenu .active .li_c strong {
      background: transparent url(../images/vzlet/siteMenu.gif) no-repeat right 0; }
    .siteMenu .active .li_c a, .siteMenu .active .li_c strong, .rightMenu .active .li_c a, .rightMenu .active .li_c strong {
      background-position: left -28px;
      color: #fff;
      padding: 0 16px;
      text-decoration: none; }
    .siteMenu .active .li_c strong, .rightMenu .active .li_c strong {
      cursor: default; }

.rightMenu li, .rightMenu a, .rightMenu strong, .rightMenu span {
  display: block !important; }

.newsMenu {
  margin-left: -9px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px; }
  .newsMenu li {
    margin: 0 9px; }
    .newsMenu li .li_c {
      line-height: 21px; }
      .newsMenu li .li_c, .newsMenu li .li_c a, .newsMenu li .li_c strong {
        display: inline-block;
        height: 21px; }
  .newsMenu .active {
    margin: 0; }
    .newsMenu .active .li_c, .newsMenu .active .li_c a, .newsMenu .active .li_c strong {
      background: transparent url(../images/vzlet/newsMenu.gif) no-repeat right 0; }
    .newsMenu .active .li_c a, .newsMenu .active .li_c strong {
      background-position: left -21px;
      color: #fff;
      padding: 0 9px;
      text-decoration: none; }
    .newsMenu .active .li_c strong {
      cursor: default; }

.imagesList {
  overflow: hidden;
  zoom: 1; }
  .imagesList li {
    float: left;
    margin-right: 10px; }

.dowloadLD {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px;
  line-height: 16px;
  margin: 9px 0 18px; }
  .dowloadLD .info {
    color: #969696;
    display: block; }
  .dowloadLD .about {
    line-height: 18px;
    margin-left: 51px;
    margin-bottom: 0; }
  .dowloadLD .ico {
    margin: 0 15px 0 7px;
    display: block;
    float: left;
    height: 0;
    padding-top: 33px;
    width: 29px;
    overflow: hidden;
    background: transparent url(../images/vzlet/docType.png) no-repeat right 0; }

.DocTypeDoc .ico {
  background-position: 0 -132px; }

.DocTypeJpg .ico {
  background-position: 0 -99px; }

.DocTypeXls .ico {
  background-position: 0 -33px; }

.DocTypeExe .ico {
  background-position: 0 -66px; }

.DocTypePdf .ico {
  background-position: 0 0; }

.product .productLogo {
  float: right;
  margin-left: 80px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-right: -10px;
  zoom: 1; }
  .product .productLogo .big {
    margin-bottom: 20px;
    display: block;
    margin-right: 10px; }
  .product .productLogo .small {
    float: right;
    margin-right: 10px; }
.product .productName {
  color: #7d7d7d;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px; }
.product .productAbout {
  color: #378dcf;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 16px;
  line-height: 20px; }
.product .siteMenu {
  margin-top: 20px;
  margin-bottom: 20px; }
  .product .siteMenu li {
    display: inline; }

.news .newsMenu {
  float: right;
  margin-left: 20px; }
.news dl dt {
  color: #838383;
  float: left;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  width: 64px;
  text-align: right; }
.news dl dd {
  margin-left: 82px; }
  .news dl dd h4 {
    color: #6b6b6b;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    font-weight: normal; }
.news .pagerBox {
  margin-left: 82px; }

.mapLink {
  background: transparent url(../images/vzlet/mapSmall.gif) no-repeat 0 0;
  height: 42px;
  line-height: 42px;
  padding-left: 87px;
  margin: 30px 0 30px 20px;
  font-size: 14px; }

.doc h4 {
  color: #6b6b6b;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0 !important;
  font-weight: normal; }
.doc .docList {
  margin: 19px 0 44px 0; }

.publications .newsMenu {
  float: right; }

.footer {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  line-height: 14px; }
  .footer .fColumn, .footer .sColumn, .footer .tColumn {
    float: left; }
  .footer .fColumn {
    width: 360px; }
  .footer .sColumn {
    width: 260px; }
  .footer .tColumn {
    width: 310px; }
  .footer .copy {
    padding-top: 1em;
    clear: both;
    display: block; }
