html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

#autoFooterC {
  position: relative;
  min-height: 100%;
  min-width: 960px;
  -height: 100%; }

#autoFooterMargin {
  height: 97px;
  width: 1px;
  clear: both; }

#autoFooter {
  position: relative;
  height: 77px;
  margin-top: -97px; }

#autoFooterC, #autoFooter {
  width: 930px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

a {
  color: #3287cc;
  text-decoration: underline; }

.wrp {
  clear: both; }

h1.logo {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  color: #267bc7;
  line-height: 33px;
  font-size: 33px;
  font-style: italic;
  padding: 18px 0 24px 14px;
  float: left; }
  h1.logo img {
    width: 301px;
    height: 33px;
    display: block; }

.hMenu, .m_links_c, .hMenu ul, .hMenu ul li, .hMenu .li_c, .hMenu .li_c strong, .hMenu .li_c a {
  background-image: url(../images/vzlet/headerMenu.png);
  background-repeat: no-repeat; }

.hMenu {
  background-repeat: repeat-x; }
  .hMenu .m_links_c {
    background-position: left -40px; }

.hMenu {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  background-color: #f5f5f5; }
  .hMenu ul {
    background-position: right -80px;
    height: 30px;
    padding: 5px 13px; }
    .hMenu ul li {
      float: left;
      background-repeat: repeat-x;
      background-position: 0 -120px; }
      .hMenu ul li .li_c {
        background-position: left -148px;
        float: left; }
      .hMenu ul li a, .hMenu ul li strong {
        padding: 0 15px;
        background-position: right -176px;
        height: 28px;
        line-height: 28px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        float: left; }
      .hMenu ul li a {
        cursor: pointer; }
      .hMenu ul li.hover {
        background-color: #fcfcfc;
        background-position: 0 -204px; }
        .hMenu ul li.hover .li_c {
          background-position: left -232px; }
        .hMenu ul li.hover a, .hMenu ul li.hover strong {
          background-position: right -260px; }
      .hMenu ul li.active {
        background-color: #2d83ca;
        background-position: 0 -288px; }
        .hMenu ul li.active .li_c {
          background-position: left -316px; }
        .hMenu ul li.active a, .hMenu ul li.active strong {
          background-position: right -344px;
          color: #fff;
          cursor: default; }
      .hMenu ul li.right {
        float: right; }
        .hMenu ul li.right .icon {
          background: transparent url(../images/vzlet/auth.png) no-repeat 0 0;
          height: 0;
          padding-top: 14px;
          width: 11px;
          overflow: hidden;
          display: inline-block;
          vertical-align: middle;
          margin: -2px 4px 0 0;
          -background-image: none !important;
          -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/vzlet/auth.png', sizingMethod='scale'); }
        .hMenu ul li.right .txt {
          vertical-align: middle; }

.search {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  position: relative;
  float: right;
  margin: 27px 13px 0 0; }
  .search label {
    cursor: text;
    color: #b7b6b6;
    position: absolute;
    left: 0;
    line-height: 24px;
    padding: 0 8px; }
  .search input {
    background: transparent url(../images/vzlet/headerSearch.png) no-repeat 0 0;
    border: none;
    float: left;
    height: 14px;
    line-height: 16px;
    width: 141px;
    padding: 5px 8px; }
  .search button {
    background: transparent url(../images/vzlet/headerSearch.png) no-repeat -157px 0;
    border: none;
    width: 24px;
    height: 0;
    padding: 24px 0 0 0;
    overflow: hidden;
    display: block;
    float: left;
    cursor: pointer; }

.sMenu {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  margin: 36px 0 36px -40px; }
  .sMenu li {
    margin-left: 40px;
    display: inline; }
  .sMenu a {
    cursor: pointer; }
  .sMenu .active a, .sMenu .active strong {
    color: #000;
    font-weight: bold;
    text-decoration: none; }
  .sMenu .active strong {
    cursor: default; }

.breadcrumbs {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 19px;
  margin: 30px 0; }
  .breadcrumbs h3 {
    display: inline;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 19px;
    font-weight: normal; }
  .breadcrumbs li {
    display: inline; }

.breadcrumbs li:first-child:before {
  content: ""; }

.breadcrumbs li:before {
  color: #9e9e9e;
  font-family: "Times New Roman", sans-serif;
  content: "\a0\2192\20"; }

.pagerBox {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 14px;
  padding: 10px 0;
  cursor: default; }
  .pagerBox a {
    cursor: pointer; }
  .pagerBox .arrows {
    overflow: hidden;
    zoom: 1;
    padding: 0 0 10px; }
    .pagerBox .arrows li {
      float: left;
      margin: 0;
      padding: 0 30px 0 0; }
      .pagerBox .arrows li span {
        color: #929292;
        font-size: 11px; }
      .pagerBox .arrows li a, .pagerBox .arrows li strong {
        padding: 0 5px; }
      .pagerBox .arrows li strong {
        color: #929292;
        font-weight: normal;
        text-decoration: underline;
        font-size: 14px; }
  .pagerBox .pages {
    overflow: hidden; }
    .pagerBox .pages li, .pagerBox .pages li a, .pagerBox .pages li strong {
      background: transparent url(../images/vzlet/pager.png) no-repeat 0 0; }
    .pagerBox .pages li {
      float: left;
      margin: 0 2px 0 0;
      padding: 0; }
      .pagerBox .pages li a, .pagerBox .pages li strong, .pagerBox .pages li span {
        color: #000;
        float: left;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        text-decoration: none; }
      .pagerBox .pages li.hover {
        background-position: right -104px; }
        .pagerBox .pages li.hover a, .pagerBox .pages li.hover strong {
          background-position: left -130px; }
      .pagerBox .pages li.active {
        background-color: #3e94d1;
        background-position: right -52px; }
        .pagerBox .pages li.active a, .pagerBox .pages li.active strong {
          color: #fff;
          font-weight: normal;
          background-position: left -78px; }
      .pagerBox .pages li.disable {
        background-position: right 0; }
        .pagerBox .pages li.disable a, .pagerBox .pages li.disable strong {
          background-position: left -26px; }

.content {
  padding: 0 28px 50px 28px; }
  .content .layout50 {
    width: 422px;
    float: left; }
  .content .layout_l {
    padding-right: 30px; }
  .content .layout_r {
    padding-left: 30px; }
  .content .layout70_l {
    margin-right: 220px; }
  .content .layout30_r {
    float: right;
    width: 200px; }
  .content .layout70_ll {
    margin-right: 220px; }
  .content .layout30_rr {
    float: right;
    width: 200px; }

.siteMenu, .rightMenu {
  margin-left: -16px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px; }
  .siteMenu li, .rightMenu li {
    margin: 0 16px; }
    .siteMenu li .li_c, .rightMenu li .li_c {
      line-height: 28px; }
      .siteMenu li .li_c, .siteMenu li .li_c a, .siteMenu li .li_c strong, .rightMenu li .li_c, .rightMenu li .li_c a, .rightMenu li .li_c strong {
        display: inline-block;
        height: 28px;
        font-weight: normal; }
  .siteMenu .active, .rightMenu .active {
    margin: 0; }
    .siteMenu .active .li_c, .siteMenu .active .li_c a, .siteMenu .active .li_c strong, .rightMenu .active .li_c, .rightMenu .active .li_c a, .rightMenu .active .li_c strong {
      background: transparent url(../images/vzlet/siteMenu.gif) no-repeat right 0; }
    .siteMenu .active .li_c a, .siteMenu .active .li_c strong, .rightMenu .active .li_c a, .rightMenu .active .li_c strong {
      background-position: left -28px;
      color: #fff;
      padding: 0 16px;
      text-decoration: none; }
    .siteMenu .active .li_c strong, .rightMenu .active .li_c strong {
      cursor: default; }

.rightMenu li, .rightMenu a, .rightMenu strong, .rightMenu span {
  display: block !important; }

.newsMenu {
  margin-left: -9px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px; }
  .newsMenu li {
    margin: 0 9px; }
    .newsMenu li .li_c {
      line-height: 21px; }
      .newsMenu li .li_c, .newsMenu li .li_c a, .newsMenu li .li_c strong {
        display: inline-block;
        height: 21px; }
  .newsMenu .active {
    margin: 0; }
    .newsMenu .active .li_c, .newsMenu .active .li_c a, .newsMenu .active .li_c strong {
      background: transparent url(../images/vzlet/newsMenu.gif) no-repeat right 0; }
    .newsMenu .active .li_c a, .newsMenu .active .li_c strong {
      background-position: left -21px;
      color: #fff;
      padding: 0 9px;
      text-decoration: none; }
    .newsMenu .active .li_c strong {
      cursor: default; }

.imagesList {
  overflow: hidden;
  zoom: 1; }
  .imagesList li {
    float: left;
    margin-right: 10px; }

.dowloadLD {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px;
  line-height: 16px;
  margin: 9px 0 18px; }
  .dowloadLD .info, .dowloadLD .about, .dowloadLD .h {
    margin-left: 52px;
    display: block; }
  .dowloadLD .info {
    color: #969696;
    display: block; }
  .dowloadLD .about {
    line-height: 18px;
    margin-left: 51px;
    margin-bottom: 0; }
  .dowloadLD .ico {
    margin: 0 15px 0 7px;
    display: block;
    float: left;
    height: 0;
    padding-top: 33px;
    width: 29px;
    overflow: hidden;
    background: transparent url(../images/vzlet/docType.png) no-repeat right 0; }

.DocTypeDoc .ico {
  background-position: 0 -132px; }

.DocTypeJpg .ico {
  background-position: 0 -99px; }

.DocTypeXls .ico {
  background-position: 0 -33px; }

.DocTypeExe .ico {
  background-position: 0 -66px; }

.DocTypePdf .ico {
  background-position: 0 0; }

.product .productLogo {
  float: right;
  margin-left: 80px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-right: -10px;
  zoom: 1; }
  .product .productLogo .big {
    margin-bottom: 20px;
    display: block;
    margin-right: 10px; }
  .product .productLogo .small {
    float: right;
    margin-right: 10px; }
.product .productName {
  color: #7d7d7d;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px; }
.product .productAbout {
  color: #378dcf;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 16px;
  line-height: 20px; }
.product .siteMenu {
  margin-top: 20px;
  margin-bottom: 20px; }
  .product .siteMenu li {
    display: inline; }

.news .newsMenu {
  float: right;
  margin-left: 20px; }
.news dl dt {
  color: #838383;
  float: left;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  width: 64px;
  text-align: right; }
.news dl dd {
  margin-left: 82px; }
  .news dl dd h4 {
    color: #6b6b6b;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    font-weight: normal; }
.news .pagerBox {
  margin-left: 82px; }

.mapLink {
  background: transparent url(../images/vzlet/mapSmall.gif) no-repeat 0 0;
  height: 42px;
  line-height: 42px;
  padding-left: 87px;
  margin: 30px 0 30px 20px;
  font-size: 14px; }

.doc h4 {
  color: #6b6b6b;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0 !important;
  font-weight: normal; }
.doc .docList {
  margin: 19px 0 44px 0; }

.publications .newsMenu {
  float: right; }
.publications .dowloadLD a {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 18px;
  line-height: 18px; }

.department .map {
  float: right;
  width: 430px;
  border-left: 1px dashed #7d7d7d; }
.department .about {
  margin-right: 455px; }

.catalogue .dowloadLD {
  float: right; }
.catalogue h4 {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #909090;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 0.7em; }
  .catalogue h4 span {
    position: relative;
    top: 0.7em;
    background-color: #fff;
    padding-right: 10px; }
.catalogue .products {
  margin: -20px 0 0 -20px; }
  .catalogue .products li {
    width: 164px;
    margin: 20px 0 0 20px;
    float: left;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif, Verdana;
    font-size: 11px; }
    .catalogue .products li .about {
      display: block; }
.catalogue .fColumn, .catalogue .sColumn, .catalogue .tColumn {
  float: left;
  width: 268px; }
  .catalogue .fColumn dt, .catalogue .sColumn dt, .catalogue .tColumn dt {
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 19px;
    line-height: 23px;
    margin-top: 33px; }
  .catalogue .fColumn p, .catalogue .sColumn p, .catalogue .tColumn p {
    margin-bottom: 0; }
.catalogue .fColumn, .catalogue .sColumn {
  padding-right: 20px; }
.catalogue .sColumn, .catalogue .tColumn {
  padding-left: 20px; }

.map h4 {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #595959;
  margin-top: 0 !important; }
.map .ul {
  margin-bottom: 25px; }
.map .firColumn {
  float: left;
  width: 240px; }
.map .secColumn {
  float: left;
  width: 240px; }
.map .mapBlock {
  float: right;
  width: 348px; }
  .map .mapBlock .about {
    margin-top: 30px !important; }

.footer {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  line-height: 14px; }
  .footer .footerLogo {
    float: left; }
  .footer .footerLogoText {
    margin-left: 62px; }
  .footer .fColumn, .footer .sColumn, .footer .tColumn {
    float: left; }
  .footer .fColumn {
    width: 360px; }
  .footer .sColumn {
    width: 260px; }
  .footer .tColumn {
    width: 310px; }
  .footer .copy {
    padding-top: 1em;
    clear: both;
    display: block; }

.fMenu {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  line-height: 14px;
  margin-top: -12px; }
  .fMenu li {
    margin: 12px 0 12px 0; }
  .fMenu .colapse a {
    font-weight: bold; }
  .fMenu .colapse ul a {
    font-weight: normal; }
  .fMenu ul {
    margin-left: 36px; }

.searchB {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  position: relative;
  float: left; }
  .searchB label {
    cursor: text;
    color: #b7b6b6;
    position: absolute;
    left: 0;
    line-height: 30px;
    padding: 0 8px; }
  .searchB input {
    background: transparent url(../images/vzlet/search.png) no-repeat 0 0;
    border: none;
    float: left;
    height: 14px;
    line-height: 16px;
    width: 435px;
    padding: 8px; }
  .searchB button {
    background: transparent url(../images/vzlet/search.png) no-repeat -451px 0;
    border: none;
    width: 30px;
    height: 0;
    padding: 30px 0 0 0;
    overflow: hidden;
    display: block;
    float: left;
    cursor: pointer; }

.sB .about {
  float: right;
  margin-top: -6px;
  margin-bottom: 0;
  width: 400px; }
.sB .sl {
  width: 482px;
  height: 30px;
  line-height: 30px; }

.mainPage h2 {
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 21px;
  color: #348acd;
  font-weight: normal;
  margin: 20px 0 20px 0; }
.mainPage .waranty {
  background: #53aadb url(../images/vzlet/mainPageWarantyBg.gif) repeat-x 0 0;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px;
  height: 188px;
  margin-top: 7px;
  padding: 0 0 0 30px; }
  .mainPage .waranty h2 {
    font-size: 19px;
    line-height: 22px;
    display: block;
    padding: 20px 0 15px 0;
    margin: 0;
    color: #fff; }
  .mainPage .waranty a {
    color: #fff; }
  .mainPage .waranty .wa {
    float: right; }
  .mainPage .waranty p {
    line-height: 18px;
    margin: 7px 0; }
.mainPage .laLeft {
  margin-right: 270px; }
.mainPage .laRight {
  width: 230px;
  float: right; }
  .mainPage .laRight img {
    margin: 20px 0 0 0; }
.mainPage .products li {
  float: left;
  width: 33%; }
.mainPage .products .img {
  float: left;
  margin-right: 10px; }
.mainPage .products a {
  font-size: 18px;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  color: #3287cc; }
.mainPage .products .about {
  display: block;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  margin: 0 0 10px 0;
  padding-top: 25px; }
.mainPage .mainPageNews dl {
  margin: -15px 0 0 20px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
  zoom: 1; }
  .mainPage .mainPageNews dl dt {
    color: #838383;
    float: left;
    width: 64px;
    text-align: left;
    margin: 10px 0 9px 0; }
  .mainPage .mainPageNews dl dd h4 {
    margin: 10px 0 9px 82px;
    display: block;
    color: #6b6b6b;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold; }
.mainPage .docList {
  margin: 0 0 0 20px; }
.mainPage label {
  cursor: text;
  color: #b7b6b6;
  position: absolute;
  left: 0;
  line-height: 30px;
  padding: 0 8px; }
.mainPage input {
  background: transparent url(../images/vzlet/search.png) no-repeat 0 0;
  border: none;
  float: left;
  height: 14px;
  line-height: 16px;
  width: 435px;
  padding: 8px; }
.mainPage button {
  background: transparent url(../images/vzlet/search.png) no-repeat -451px 0;
  border: none;
  width: 30px;
  height: 0;
  padding: 30px 0 0 0;
  overflow: hidden;
  display: block;
  float: left;
  cursor: pointer; }

.sB .about {
  float: right;
  margin-top: -6px;
  margin-bottom: 0;
  width: 400px; }
.sB .sl {
  width: 482px;
  height: 30px;
  line-height: 30px; }

.pTable {
  width: 100%; }
  .pTable th {
    background-color: #efefef;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc; }
  .pTable td {
    border: 1px solid #ccc; }
  .pTable th, .pTable td {
    padding: 3px 5px; }

.uf .clear {
  margin: 15px 0; }
.uf .left-side {
  float: left;
  width: 168px;
  text-align: right; }
.uf label {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  font-size: 12px; }
  .uf label.left-side {
    text-align: right;
    display: block;
    margin-right: 10px;
    padding: 3px 0 2px 0;
    line-height: 19px;
    margin: 7px 10px 7px 0;
    font-weight: bold; }
  .uf label.db {
    margin: 0 0 15px 0;
    display: block;
    font-size: 14px;
    line-height: 19px; }
  .uf label.right-radio-label {
    font-size: 14px;
    line-height: 19px; }
.uf input.right-radio {
  margin-right: 2px; }
.uf input.right-checkbox {
  margin-right: 2px;
  vertical-align: top;
  margin-top: 3px; }
.uf .right-side {
  margin-left: 186px;
  *margin-left: 100px; }
  .uf .right-side ul {
    padding: 7px 0; }
    .uf .right-side ul li {
      padding: 3px 0 2px 0; }
.uf div.butt {
  margin-left: 0;
  padding-left: 178px; }
.uf input.input, .uf select.select, .uf textarea.textarea {
  border: 1px solid #b1b1b1;
  font-family: Arial;
  font-size: 14px;
  height: 18px;
  padding: 3px 2px 2px 2px;
  margin: 7px 0; }
.uf textarea.textarea {
  height: 10em;
  margin: 7px 0; }
.uf input.file {
  height: 20px;
  margin: 7px 0; }
.uf select.select {
  height: 25px;
  vertical-align: top; }
.uf input.width-all, .uf textarea.width-all {
  width: 295px; }
.uf textarea.width-100 {
  width: 98.69%; }
.uf select.width-all {
  width: 301px;
  -width: auto !important; }
.uf input.file {
  width: 301px;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  height: 24px;
  padding: 0 2px 0 2px; }
.uf input.but, .uf button.but {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px; }
.uf p.dsc, .uf p.error {
  display: block;
  font-family: Arial;
  font-size: 11px;
  line-height: 13px;
  color: #8c8c8c;
  margin: 3px 0; }
.uf .clear.error input.error {
  background-color: #f8ffbe; }
.uf .clear.error p.error {
  color: #d80000; }
.uf .clear .focus {
  background-color: #edffd7 !important; }
.uf ul.radio-list {
  width: 33%;
  float: left; }
  .uf ul.radio-list input, .uf ul.radio-list label {
    vertical-align: middle; }
  .uf ul.radio-list input {
    float: left;
    width: 20px;
    overflow: hidden;
    border: 1px solid red;
    display: block !important;
    margin-top: 3px; }
  .uf ul.radio-list div {
    margin-left: 20px;
    display: block;
    overflow: hidden; }
  .uf ul.radio-list li {
    margin-right: 10px;
    overflow: hidden; }
  .uf ul.radio-list ul li {
    margin: 0 0 0 10px;
    padding: 0; }
.uf input.width-all.inp {
  width: 232px; }
.uf textarea.width-all.inp {
  width: 253px; }
.uf input.inp {
  padding-right: 23px; }
.uf input.width-all.inpcomm, .uf textarea.width-all.inpcomm {
  width: 150px; }
.uf input.inpcomm {
  padding-right: 60px; }
.uf .text-tip {
  color: #6d6d6d; }
.uf sub.inp {
  position: absolute;
  overflow: hidden;
  width: 20px;
  height: 0;
  margin-left: -22px;
  margin-top: 4px;
  padding-top: 16px;
  background-color: #fff;
  font-size: 8px;
  color: #7f7f7f; }
.uf sub.inp.ru {
  background-image: url(../img/icons/ru.gif); }
.uf sub.inp.en {
  background-image: url(../img/icons/en.gif); }
.uf sub.inp.com {
  margin-left: -58px; }
.uf ul.list_of_checkboxes, .uf ul.ochenoch {
  font-family: Arial;
  font-size: 14px; }
.uf ul.ochenoch label, .uf ul.ochenoch input {
  vertical-align: middle; }
.uf ul.list_of_checkboxes input {
  float: left;
  display: block;
  vertical-align: middle; }
.uf ul.list_of_checkboxes label {
  margin-left: 20px;
  display: block;
  vertical-align: middle; }
.uf ul.list_of_checkboxes ul {
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 2px; }
  .uf ul.list_of_checkboxes ul li {
    margin: 2px 2px 2px 0; }
.uf ul.list_of_checkboxes div {
  margin-left: 20px;
  padding-bottom: 2px; }
  .uf ul.list_of_checkboxes div label {
    float: none;
    display: inline;
    border-bottom: 1px dashed #0044cc;
    margin-left: 0;
    cursor: pointer;
    color: #0044cc; }
.uf .width-all, .uf .select {
  background-color: #fff;
  letter-spacing: inherit !important; }
.uf .left-side img, .uf .right-side img {
  margin-bottom: -3px;
  padding-right: 4px; }
.uf .right-side p {
  clear: both; }
.uf .right-side img {
  vertical-align: top;
  padding-top: 3px; }
.uf div.wither {
  background-color: #fffee8;
  border: 1px solid #7F9DB9;
  margin-right: 48px; }
.uf .marginer {
  margin: 0 48px 0 128px !important; }
.uf div.wither input, .uf div.wither textarea {
  display: block;
  width: 100% !important;
  background: transparent;
  border: none;
  margin: 0;
  padding: 3px 0 2px 0; }
.uf ul.list_of_checkboxes li, .uf ul.ochenoch li {
  margin-bottom: 5px;
  line-height: 100%; }
.uf ul.ochenoch li h4 {
  padding: 16px 0 2px 0 !important;
  color: #767676; }
.uf .split {
  float: left;
  width: 50%; }
  .uf .split img {
    float: left; }
  .uf .split div {
    background-color: #fffee8;
    border: 1px solid #7F9DB9;
    margin: 0;
    overflow: hidden; }
    .uf .split div input {
      display: block;
      width: 100% !important;
      background: transparent;
      border: none;
      margin: 0; }
.uf div.highm {
  margin: 0 48px 28px 0; }
.uf div.null {
  margin: 0 0 28px 0 !important; }
.uf div.lowm {
  margin-bottom: 7px; }
.uf .split input {
  font-size: 12px; }
.uf .eng {
  display: none; }

table.common b, table.board b {
  width: 1px; }

table.common, table.board {
  font-family: Tahoma, Geneva, sans-serif, Verdana;
  width: 100%;
  /* IE6 */
  font-size: 11px;
  margin: 10px 0; }
  table.common thead tr th, table.common thead tr th div, table.board thead tr th, table.board thead tr th div {
    background-image: url(../images/vzlet/table/thead.gif);
    background-repeat: no-repeat; }
  table.common thead tr, table.board thead tr {
    background-repeat: repeat-x;
    background-color: #ebebeb;
    height: 36px; }
    table.common thead tr th, table.board thead tr th {
      vertical-align: top;
      background-color: transparent;
      background-repeat: repeat-x;
      height: 36px !important;
      padding: 0 !important;
      line-height: 36px;
      font-size: 12px;
      font-weight: normal; }
      table.common thead tr th div, table.board thead tr th div {
        background-color: transparent;
        background-position: left -144px;
        background-repeat: no-repeat; }
        table.common thead tr th div div, table.board thead tr th div div {
          /* :padding 3px 11px 0 11px */
          background-position: right -107px;
          background-repeat: no-repeat;
          height: 36px;
          white-space: nowrap;
          padding-left: 8px;
          padding-right: 8px; }
      table.common thead tr th.first div, table.board thead tr th.first div {
        background-position: left -36px; }
        table.common thead tr th.first div div, table.board thead tr th.first div div {
          background-position: right -107px; }
      table.common thead tr th.last div, table.board thead tr th.last div {
        background-position: left -144px; }
        table.common thead tr th.last div div, table.board thead tr th.last div div {
          background-position: right -72px; }
      table.common thead tr th.active, table.board thead tr th.active {
        background-position: left -180px;
        background-repeat: repeat-x; }
        table.common thead tr th.active div, table.board thead tr th.active div {
          background-position: left -351px;
          padding: 0;
          height: 36px; }
          table.common thead tr th.active div div, table.board thead tr th.active div div {
            background-position: right -312px;
            padding: 0 8px;
            height: 36px; }
      table.common thead tr th.first_active div, table.board thead tr th.first_active div {
        background-position: left -234px; }
        table.common thead tr th.first_active div div, table.board thead tr th.first_active div div {
          background-position: right -312px; }
      table.common thead tr th.last_active div div, table.board thead tr th.last_active div div {
        background-position: right -273px; }
  table.common thead th.select a, table.board thead th.select a {
    background: transparent url(/img/buttons/selector-left.gif) no-repeat left -45px;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 11px 0 8px;
    color: #fff;
    text-decoration: none; }
  table.common thead th.select span.icon.sort-down, table.common thead th.select span.icon.sort-up, table.board thead th.select span.icon.sort-down, table.board thead th.select span.icon.sort-up {
    margin: 13px 0 0 0; }
  table.common thead th.views span.icon.view, table.board thead th.views span.icon.view {
    float: right; }
  table.common thead th.checkboxes div, table.board thead th.checkboxes div {
    padding-left: 0; }
  table.common tbody td, table.board tbody td {
    vertical-align: middle;
    height: 40px;
    padding: 5px 8px; }
    table.common tbody td.checkboxes, table.board tbody td.checkboxes {
      padding-right: 0;
      padding-left: 0; }
    table.common tbody td.price-place, table.board tbody td.price-place {
      padding: 15px 10px; }
    table.common tbody td.img div, table.board tbody td.img div {
      padding: 0 0 0 9px; }
    table.common tbody td.check, table.board tbody td.check {
      text-align: center; }
    table.common tbody td.category, table.board tbody td.category {
      padding-right: 0; }
      table.common tbody td.category span.icon, table.board tbody td.category span.icon {
        margin: 0; }
    table.common tbody td.date, table.board tbody td.date {
      width: 37px; }
      table.common tbody td.date div, table.board tbody td.date div {
        padding: 0 8px; }
      table.common tbody td.date .abbr, table.board tbody td.date .abbr {
        font-size: 11px;
        cursor: default;
        border-bottom: 1px dashed #666;
        color: #666;
        line-height: 15px; }
    table.common tbody td.views, table.board tbody td.views {
      text-align: right;
      cursor: default; }
      table.common tbody td.views div, table.board tbody td.views div {
        padding: 0 14px 0 2px; }
    table.common tbody td.comments div div, table.board tbody td.comments div div {
      padding: 0 0 0 8px; }
    table.common tbody td.user div, table.board tbody td.user div {
      padding-left: 8px; }
    table.common tbody td.last, table.board tbody td.last {
      border-right: 1px solid #fff; }
  table.common tbody tr, table.board tbody tr {
    /* :position relative */ }
    table.common tbody tr.even td, table.board tbody tr.even td {
      background-color: #f3f3f3; }
    table.common tbody tr.hover td, table.board tbody tr.hover td {
      background-color: #e5edf3; }
    table.common tbody tr.selected td, table.board tbody tr.selected td {
      background-color: #fff8Be; }
    table.common tbody tr.disable td, table.board tbody tr.disable td {
      background-color: #f2f2f2; }
      table.common tbody tr.disable td .adv_t, table.common tbody tr.disable td .col_4, table.board tbody tr.disable td .adv_t, table.board tbody tr.disable td .col_4 {
        color: #919191; }
      table.common tbody tr.disable td .adv_t a, table.board tbody tr.disable td .adv_t a {
        color: #91b1df; }
        table.common tbody tr.disable td .adv_t a:hover, table.board tbody tr.disable td .adv_t a:hover {
          color: #b2c9eb; }
    table.common tbody tr td.caption, table.board tbody tr td.caption {
      font-weight: bold; }
    table.common tbody tr.select, table.board tbody tr.select {
      background-color: #fffbdd; }
  table.common tbody input, table.board tbody input {
    display: block;
    margin: 1px auto 0;
    position: relative;
    *top: 5px; }
  table.common th .text_align_right, table.common td .text_align_right, table.board th .text_align_right, table.board td .text_align_right {
    text-align: right; }
  table.common th .text_align_center, table.common td .text_align_center, table.board th .text_align_center, table.board td .text_align_center {
    text-align: center; }
  table.common th .vertical_align_top, table.common td .vertical_align_top, table.board th .vertical_align_top, table.board td .vertical_align_top {
    vertical-align: top; }
  table.common th .vertical_align_middle, table.common td .vertical_align_middle, table.board th .vertical_align_middle, table.board td .vertical_align_middle {
    vertical-align: middle; }
  table.common th .vertical_align_bottom, table.common td .vertical_align_bottom, table.board th .vertical_align_bottom, table.board td .vertical_align_bottom {
    vertical-align: bottom; }
  table.common .bul div div, table.common th.update div div, table.board .bul div div, table.board th.update div div {
    padding: 0 2px 0 8px; }
